* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --color-primary: #a7e0e0;
  --color-light: #e8aabe;
  --color-light1: #db6a8f;
  --color-light2: #ca3c66;
  --color-white: #fff;
  --color-white-variant: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #11151C;
  --color-bg1: #212d40;
  --color-bg2: #294c60;
  --transition: all 400ms ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.empty-container {
  position: relative; 
  display: flex;
  border: 2px solid black;
  width: 800px;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.empty-container .slot {
  position: relative; 
  width: 16.66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-container .rainbow-image {
  margin: auto;
  position: absolute;
  top: 50%; 
  left: 50%; 
  padding: 20px;
}

.message {
  margin-top: 10px;
  font-weight: bold;
}

.btn {
  background-color: var(--color-light);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  width: 700px;
}

.btn:hover {
  background-color: var(--color-light2);
  transition: var(--transition);
}
